
.game-field-container {
    position: relative;
    max-height: calc(100vh - 200px);
    overflow: auto;
    max-width: 100vw;
}

.game-field-container__game-field {
    border: 2px solid black;
}

.game-field-container__game-grid{
    position: absolute;
    border: 2px solid black;
    pointer-events: none;
}

.controls-panel {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 180px;
}

.input-container {}

.input-container__label {}

.input-container__input {
    padding: 0;
    outline: unset;
    border: 1px solid;
}

.input-container__input:focus {
    border: 1px solid #0194dc;
}

.controls-panel__button {}
